*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url("images/owBT9A7.webp");
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    display: flex;
}
#circle{
    border-radius: 50%;
    background-color: aquamarine;
    box-shadow: inset 2px 2px 2px 2px black, 2px 2px 2px 2px black;
    width: 200px;
    height: 200px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
}